<h1>freeCodeCamp File Size Microservice</h1>
<h2>To get started just upload a new file and you'll receive information about the file's size.</h2>

<form  enctype="multipart/form-data" method="post">
  <div class="form-group">
    <label for="exampleInputFile">File Upload</label>
    <input type="file" id="exampleInputFile" name="userFile">
    <p class="help-block">Upload yur file here.</p>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
